{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet">
<div class="card">
    <br>
    <br>
    <br>
    <div class="row" id='loginform'>
        <div class="col-md-3"></div>
        <div class="col-md-6 pitchit-form">
            <h2>Sign up</h2>
            <h5>Fill in the form to Sign up</h5>
            <hr>
            {{wtf.quick_form(registration_form)}}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock%}