.header{
   font-family: 'Abril Fatface',
   cursive;
   font-size:130px;
   text-align: center;
   color:black;

}
.scroll{
   text-align: center;
}

.bloggs{
   text-align: center;
   font-family: 'Abril Fatface',
   cursive;
   font-size: 70px;
}
#poster{
   font-family: 'Text Me One',
   sans-serif;
   text-align: center;
   font-size: 40px;
}
.createblog{
   font-family: 'Text Me One',
   sans-serif;
    font-size: 40px;
}
#loginform{
   font-family: 'Text Me One',
   sans-serif;
   font-size: 35px;
}